.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #c5b629;

  /* background-color: #F86B00; */
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  max-width: 400px;
  width: 100%;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.description {
  font-size: 1rem;
  text-align: center;
  color:black;
}

.form {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-weight: bold;
  font-size: 1rem;
}

.input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid var(--gray-alpha-100);
  border-radius: 8px;
  background-color: transparent;
}

.input:focus {
  outline: none;
  border-color: var(--button-primary-hover);
}

.submitButton {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  background-color: var(--foreground);
  color: var(--background);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.submitButton:hover {
  background-color: var(--button-primary-hover);
}

.logoContainer {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 10px; /* Adds space between the image and the text */
}


.videoContainer {
  text-align: center; 
  margin: 20px 0;   
}

.video {
  max-width: 150%;   
  height: auto;     
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}