.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #c5b629;

  display: flex; /* Changed from grid to flex for easier centering */
  flex-direction: column; /* Column layout */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  min-height: 100vh; /* Full viewport height */
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-color: #6091A3;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  gap: 32px;
  max-width: 500px; /* Increased for better spacing */
  width: 100%;
  color:white;
}

.platform{
  text-align:center;
}

.vivatitle{
  color:white;
}

.title {
  font-size: 2rem;
  text-align: center;
  color:black;
}

.description {
  font-size: 1rem;
  text-align: center;
  color: black;
}

.form {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width for better responsiveness */
  max-width: 500px; /* Consistent with main */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-weight: bold;
  font-size: 1rem;
}

.input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid var(--gray-alpha-100);
  border-radius: 8px;
  background-color: transparent;
}

.input:focus {
  outline: none;
  border-color: var(--button-primary-hover);
}

.submitButton {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  background-color: var(--foreground);
  color: var(--background);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.submitButton:hover {
  background-color: var(--button-primary-hover);
}

.logoContainer {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 10px; /* Adds space between the image and the text */
  justify-content: center; /* Center logo container */
}

.videoContainer {
  text-align: center; 
  margin: 20px 0;   
}

.video {
  max-width: 100%; /* Make the video responsive */
  height: auto;     
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
